@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --black-color: #333;
    --border-color: var(--black-color);
    --border-radius: 8px;
    --caption-color: var(--black-color);
    --error-color: red;
    --datatable-color: #FEEAD2;
    --dark-cell-color: #f8f8f8;
    --form-background-color: white;
    --primary-font-color: var(--black-color);
    --primary-color: #6658d3;
    --secondary-font-color: #8597a3;
    color: var(--black-color);
    /*font-family: Verdana, sans-serif;*/
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    border-bottom: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-font-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.middle .message {
    background-color: var(--black-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    display: none;
}

.middle {
    margin-top: 1rem;
    overflow: auto;
}

main {
}

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

.link {
    text-decoration: none;
    font-size: 24px;
}

aside {
    float: right;
    width: 20rem;
}